body {
    margin: 0;
    padding: 0;
    width: 1080px;
    margin: 0px auto 0px;
}
#json-input {
    display: block;
    width: 100%;
    height: 200px;
}
#translate {
    display: block;
    height: 28px;
    margin: 20px 0;
    border-radius: 3px;
    border: 2px solid;
    cursor: pointer;
}
#json-display {
    border: 1px solid #000;
    width: 100%;
    padding: 10px 20px;
}