<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Mensageria PIX">
        <meta property="og:description" content="Rodrigo Camurça | Full Stack Developer">
        <meta property="og:url" content="https://desafio-uber-clean-architecture.onrender.com/">
        <meta property="og:image" content="{{ url_for('static', filename='img/share_link.png') }}" />
        <meta property="og:type" content="website">
        <title>Mensageria PIX</title>
        <!-- Links para os scripts jQuery, Popper.js e Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">
        <!-- Inclusão do arquivo style.css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Inclusão do arquivo favicon.svg -->
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='svg/favicon.svg') }}">
    </head>
    <body>
        <div class="container">
        <h1 class="text-center mb-4">Mensageria PIX <img style="margin-top: -5px;" src="{{ url_for('static', filename='svg/pix.svg') }}" alt="Logo PIX"></h1>
        <form>

            <div id="bloco_um" class="form-group">

                <div id="step1" class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" placeholder="Digite seu nome">
                </div>
                <div id="step2" class="form-group">
                    <label for="idade">Idade:</label>
                    <input type="number" class="form-control" id="idade" placeholder="Digite sua idade">
                </div>
                <div id="step3" class="form-group">
                    <label for="valor">Valor:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" class="form-control" id="valor" placeholder="Digite o valor" pattern="[0-9]+([\.,][0-9]+)?" inputmode="numeric">
                    </div>
                    <small id="valorHelp" class="form-text text-muted">Ex:120.26</small>
                </div>

            </div>

            <div id="bloco_dois" class="form-group hidden">
                
                <div id="step4" class="form-group">
                    <label for="data">Data:</label>
                    <input type="date" class="form-control" id="data">
                </div>
                <div id="step5" class="form-group">
                    <label for="chave-pix">Chave PIX:</label>
                    <input type="text" class="form-control" id="chave-pix" placeholder="Digite sua chave PIX">
                </div>
                <div id="step6" class="form-group">
                    <label for="telefone" class="">Telefone:</label>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="telefone" placeholder="Digite seu telefone" style="width: 100%;" required>
                    </div>
                </div>

            </div>

            <div id="bloco_tres" class="form-group hidden">

                <div id="step7" class="form-group">
                    <label for="assunto">Assunto:</label>
                    <input type="text" class="form-control" id="assunto" placeholder="Digite o assunto" required>
                </div>
                <div id="step8" class="form-group">
                    <label for="remetente">Remetente:</label>
                    <input type="email" class="form-control" id="remetente" placeholder="Digite seu email" required>
                </div>
                <div id="step9" class="form-group">
                    <label for="destinatario">Destinatário:</label>
                    <input type="email" class="form-control" id="destinatario" placeholder="Digite o email do destinatário" required value="rcvdigo@gmail.com">
                </div>
                <div id="step10" class="form-group">
                    <label for="corpo-mensagem">Corpo da mensagem:</label>
                    <textarea class="form-control" id="corpo-mensagem" rows="4" placeholder="Digite o corpo da mensagem" required></textarea>
                </div>
            
            </div>

            <button type="button" class="btn btn-secondary btn-block btn-back" onclick="prevStep()">Voltar</button>
            <button type="button" class="btn btn-primary btn-block" onclick="nextStep()">Avançar</button>
            <button type="submit" class="btn btn-success btn-block" id="submitBtn" style="display: none;">Enviar</button>
        </form>
        </div>
        <!-- Links para os scripts jQuery, Popper.js e Bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
        <!-- Inclusão do arquivo script.js -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
