<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Mensageria PIX">
        <meta property="og:description" content="Rodrigo Camurça | Full Stack Developer">
        <meta property="og:url" content="https://desafio-uber-clean-architecture.onrender.com/">
        

        <meta property="og:image" content="https://raw.githubusercontent.com/rcvdigo/desafio-uber-clean-architecture/main/static/img/share_link.png"/>


        <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/rcvdigo/desafio-uber-clean-architecture/main/static/img/share_link.png"/>

        <meta property="og:type" content="website">
        <title>Mensageria PIX Select</title>
        <!-- Links para os scripts Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Inclusão do arquivo style.css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Inclusão do arquivo favicon.svg -->
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='svg/favicon.svg') }}">
        <style>
            body {
                padding-top: 35px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 20px;
            }
            th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>
    <body>
        <div>
            <h1 class="text-center mb-4">Mensageria PIX <img style="margin-top: -5px;" src="{{ url_for('static', filename='svg/pix.svg') }}" alt="Logo PIX"></h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Chave Pix</th>
                        <th>Destinatário</th>
                        <th>Para</th>
                        <th>Assunto</th>
                        <th>Corpo da mensagem</th>
                        <th>Telefones</th>
                        <th>Visualizar</th>
                        <th>Deletar</th>
                        <!-- Adicione mais cabeçalhos conforme necessário -->
                    </tr>
                </thead>
                <tbody>
                    {% for id, dados_pessoa in http_body.items() %}
                        <tr data-id="{{id}}">
                            <td>{{ id }}</td>
                            <td>{{ dados_pessoa.name }}</td>
                            <td>{{ dados_pessoa.age }}</td>
                            <td>{{ dados_pessoa.value }}</td>
                            <td>{{ dados_pessoa.date }}</td>
                            <td>{{ dados_pessoa.key_pix }}</td>
                            <td>{{ dados_pessoa.source }}</td>
                            <td>{{ dados_pessoa.to }}</td>
                            <td>{{ dados_pessoa.subject }}</td>
                            <td>{{ dados_pessoa.body }}</td>
                            <td>{{ dados_pessoa.phone_numbers }}</td>
                            <td>
                                <a href="/view/{{id}}/" class="btn btn-primary btn-visualizar" >Visualizar</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-danger btn-excluir" data-id="{{ id }}">Excluir</a>
                            </td>
                            <!-- Adicione mais colunas conforme necessário -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Adiciona um evento de clique aos botões de exclusão
                document.querySelectorAll('.btn-excluir').forEach(button => {
                    button.addEventListener('click', function(event) {
                        // Previne o comportamento padrão do link
                        event.preventDefault();
                        
                        // Obtém o ID do item a ser excluído
                        const id = this.getAttribute('data-id');
                        
                        // Envia uma solicitação POST para o endpoint de exclusão
                        fetch('/api/delete/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-Requested-With': 'XMLHttpRequest'
                            },
                            body: JSON.stringify({_id: id})
                        })
                        .then(response => response.json())
                        .then(data => {
                            // Exibe uma mensagem de sucesso ou erro, ou atualiza a página conforme necessário
                            console.log(data);

                            // Recarrega a página após a exclusão bem-sucedida
                            location.reload();
                        })
                        .catch(error => {
                            console.error('Erro ao excluir o item:', error);
                        });
                    });
                });
            });
        </script>
    </body>
</html>